.w {
    width: 1200px;
    margin: auto;
}


/* banner部分 */

.banner {
    width: 1920px;
    height: 680px;
    background: url(../upload/news/banner.png);
}


/* 品牌资讯 */

.brandinfo {
    height: 729px;
}

.head {
    position: relative;
    height: 75px;
    border-bottom: 2px solid #ccc;
}

.brandinfo .title {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 500px;
    background-color: #fff;
}

.brandinfo .title h2 {
    font-family: FZLTCXHJW--GB1-0;
    font-size: 36px;
    font-weight: bold;
    color: #666666
}

.brandinfo .title h3 {
    font-size: 24px;
    color: #333333;
}

.brandinfo .box {
    box-sizing: border-box;
    width: 1200px;
    height: 465px;
    padding-left: 89px;
    padding-top: 36px;
    margin-top: 59px;
    background-color: #e6e6e6;
}

.brandinfo .box .left {
    position: relative;
    float: left;
    width: 495px;
    height: 386px;
    background-color: #fff;
    margin-right: 10px;
}

.brandinfo .box .left img {
    width: 100%;
    height: 235px;
}

.brandinfo .box .left h2 {
    padding: 0 27px;
    margin: 33px 0;
    font-size: 18px;
    color: #000000;
}

.brandinfo .box .left p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 27px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #333333;
}

.brandinfo .box .left span {
    position: absolute;
    right: 57px;
    bottom: 7px;
    width: 67px;
    height: 19px;
    border-radius: 10px;
    border: solid 1px #3d3d3d;
    text-align: center;
    font-size: 12px;
}

.brandinfo .box .right {
    float: left;
    width: 495px;
}

.brandinfo .box .right .top,
.brandinfo .box .right .middle {
    width: 495px;
    height: 119px;
    background-color: #ffffff;
}

.brandinfo .box .right .top .img {
    float: left;
    width: 116px;
    height: 90px;
    margin: 15px 18px 0 16px;
}

.brandinfo .box .right .top .img img {
    width: 100%;
    height: 100%;
}

.brandinfo .box .right .top .content {
    float: left;
    position: relative;
    width: 289px;
}

.brandinfo .box .right .top .content h3 {
    margin-top: 12px;
    margin-bottom: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.brandinfo .box .right .top .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.brandinfo .box .right .top .content span {
    position: absolute;
    bottom: -22px;
    right: 10px;
    width: 67px;
    height: 19px;
    border-radius: 10px;
    border: solid 1px #3d3d3d;
}

.brandinfo .box .right .top .content span a {
    text-align: center;
    font-size: 12px;
}

.brandinfo .box .right .middle {
    margin: 15px 0;
}

.brandinfo .w .more {
    display: block;
    width: 162px;
    height: 40px;
    margin-left: 517px;
    margin-top: 40px;
    border: solid 1px #999999;
    text-align: center;
    line-height: 40px;
}


/* 热门观点 */

.opinions {
    height: 1103px;
}

.opinions .w {
    overflow: hidden;
    margin-top: 103px;
}

.opinions .w .news {
    float: left;
    width: 370px;
    height: 373px;
    margin-bottom: 36px;
    border: solid 1px #cccccc;
    text-align: center;
}

.opinions .w .news:nth-child(2),
.opinions .w .news:nth-child(5) {
    margin: 0 42px;
}

.opinions .w .news .newspic {
    width: 348px;
    height: 230px;
    margin-top: 16px;
    margin-left: 9px;
}

.opinions .w .news .newspic img {
    width: 100%;
    height: 100%;
}

.opinions .w .news h4 {
    width: 313px;
    height: 47px;
    margin-top: 23px;
    margin-left: 27px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    letter-spacing: 1px;
    color: #333333;
    text-align: left;
    overflow: hidden;
}

.opinions .w .news p {
    margin-top: 17px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #666666;
    text-align: left;
    text-indent: 26px;
}

.opinions .w .more {
    float: left;
    margin-top: 32px;
}


/* 家具动态 */

.tendency {
    height: 1007px;
}

.tendency .w {
    margin-top: 43px;
}

.tendency .w .news {
    overflow: hidden;
    width: 380px;
    float: left;
    margin-top: 30px;
    height: 352px;
    background: url(../upload/news/tendency1.png);
    background-size: cover;
}

.tendency .w .news:nth-child(2) {
    background: url(../upload/news/tendency2.png);
}

.tendency .w .news:nth-child(3) {
    background: url(../upload/news/tendency4.png);
}

.tendency .w .news:nth-child(4) {
    background: url(../upload/news/tendency4.png);
}

.tendency .w .news:nth-child(5) {
    background: url(../upload/news/tendency5.png);
}

.tendency .w .news:nth-child(6) {
    background: url(../upload/news/tendency6.png);
}

.tendency .w .more {
    float: left;
}

.tendency .w .news:nth-child(2),
.tendency .w .news:nth-child(5) {
    margin-left: 24px;
    margin-right: 24px;
}

.tendency .w .news .bottom {
    overflow: hidden;
    width: 380px;
    height: 132px;
    background-color: #000000;
    opacity: 0.6;
    margin-top: 221px;
}

.tendency .w .news .bottom h4 {
    margin-top: 20px;
    height: 25px;
    font-size: 18px;
    color: #ffffff;
    margin-left: 13px;
    overflow: hidden;
}

.tendency .w .news .bottom h5 {
    margin-top: 9px;
    margin-left: 13px;
    overflow: hidden;
    width: 347px;
    height: 36px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.tendency .w .news .bottom p {
    margin-top: 9px;
    margin-left: 13px;
    width: 70px;
    height: 19px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #ffffff;
}


/* 精彩视屏 */

.videos {
    height: 662px;
}

.videos .w {
    overflow: hidden;
    margin-top: 87px;
}

.videos .video1,
.videos .video2 {
    float: left;
    width: 555px;
    height: 390px;
}

.videos .video1 p,
.videos .video2 p {
    margin-left: 196px;
    margin-top: 19px;
    width: 99px;
    height: 17px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.videos .video1 {
    margin-right: 90px;
}

.videos .w .container {
    width: 555px;
    height: 350px;
}

.videos .w .container img {
    width: 100%;
    height: 100%;
}